@inherits LayoutComponentBase

<div class="layout">
    <header class="layout-header">
        <div class="layout-header-inner">
            <a class="layout-handle" href="/">c-t-fallon</a>
            <NavMenu />
        </div>
    </header>
    <main class="layout-main">
        <div class="layout-content">
            @Body
        </div>
    </main>
</div>
